body {
    background-color: #f0f2f6;
}

h1 {
    color: #d62828;
    text-align: center;
    font-size: 2.5em;
}

.stButton > button {
    background-color: #003049;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.stButton > button:hover {
    background-color: #d62828;
    color: white;
}

.result-box {
    background-color: #fff3cd;
    padding: 15px;
    border-radius: 10px;
    border-left: 6px solid #ffecb5;
    margin-top: 20px;
}
